@import "blue_topmenu.css";
@import "blue_leftmenu.css";
@import "blue_tabs.css";
@import "style1.css";


FORM
{
    margin-top: 0px;
    margin-bottom: 0px;    
}
INPUT
{
    font: 11px Arial, Verdana, Helvetica, sans-serif;
}
SELECT
{
    font: 11px Arial, Verdana, Helvetica, sans-serif;
}
IMG
{
    BORDER: 0;
}
.logo
{
    BACKGROUND-IMAGE: url("images/wdlogo.png"); 
    BACKGROUND-REPEAT: no-repeat;
}
TEXTAREA
{
    font: 11px Arial, Verdana, Helvetica, sans-serif;
}

A.mainlink 
{
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #ff0000;
    text-decoration: none;
    CURSOR: pointer; 
}

.helplink
{
    font-size: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #0000ff;
    text-decoration: underline;
    CURSOR: pointer; 
}

.simplelink 
{
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #ff0000;
    text-decoration: underline; 
    CURSOR: pointer;
    FONT-WEIGHT: normal;    
}
.textlink 
{
	COLOR: #0056B6;
    FONT-FAMILY: Tahoma, Arial,Helvetica,sans-serif; 
    FONT-SIZE: 11px; 
    FONT-WEIGHT: normal  
}

TD
{
    font: 11px Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
.contents
{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    text-align: left;
    vertical-align: top;
    padding: 20px;
}

.footer
{
    color: #555555;    
    height: 15px;
    background-color: #E8EDFA;
    border-top: #5993AB 1px solid;
}

.formbutton 
{
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #000000;
    border-style: solid;
    border-width: 1;
    border-color: #5993AB;
    CURSOR: pointer; 
    background-color: #B3CED9;
}

.listing 
{
    border: #5993AB 1px solid;
}

.errorMsgTable
{
    border: #ff0000 1px solid;
    width: 450px;
}

.okMsgTable
{
    border: #00aa00 1px solid;
    width: 450px;
}

.settings 
{
    border-left: #5993AB 1px solid;
    border-right: #5993AB 1px solid;
    border-bottom: #5993AB 1px solid;
}

.settingsLine
{
    border-top: #5993AB 1px solid;
    height: 5px;
}

.listingClosed 
{
    border: #5993AB 1px solid;
}

.listing .hidableHeader {
    DISPLAY: block
}
.listingClosed .hidableHeader {
    DISPLAY: none
}

.actionheader 
{
    background-color: #FFFFFF;
    BORDER-BOTTOM: #5993AB 1px solid;
    height: 20px;
    padding-left: 2px; 
}

.tableheader 
{
    background-color: #B3CED9;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #B3CED9 1px solid; 
    BORDER-BOTTOM: #5993AB 1px solid;
}

.errorMessageHeader
{
    background-color: #FFA9A9;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #ff0000 1px solid;
}

.okMessageHeader
{
    background-color: #BAFCBA;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #00AA00 1px solid;
}

.tableheader2 
{
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: normal;
    padding: 2px;
    background-color: #D6DFF5;    
    BORDER-TOP: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.errorMessage
{
    color: #ff0000;
}

.okMessage
{
    color: #00AA00;
}

.sideborders
{
    BORDER-LEFT: #5993AB 1px solid;
    BORDER-RIGHT: #5993AB 1px solid;
}

.listheader 
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #5993AB 1px solid; 
    BORDER-BOTTOM: #5993AB 1px solid;   
}

.listheaderNoRightLine
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #5993AB 1px solid;   
}

.listPaging
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #5993AB 1px solid;   
}

.listheaderNoLine
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
}

.listheaderNoLineLeft
{
    background-color: #D9E6EC;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
}

.listViewLine
{
    background-color: #D9E6EC;
    TEXT-ALIGN: left;
    height: 25px;
    VERTICAL-ALIGN: middle;
    BORDER-TOP: #5993AB 1px solid;
}

.tablelistheader 
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #5993AB 1px solid; 
    BORDER-BOTTOM: #5993AB 1px solid;   
}

.header 
{
    background-color: #B3CED9;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #ffffff 1px solid; 
    BORDER-BOTTOM: #ffffff 1px solid;
}

.listresult 
{
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid; 
    BORDER-BOTTOM: #5993AB 1px solid; 
}

.listresultNoRightLine 
{
    TEXT-ALIGN: center;
    BORDER-BOTTOM: #5993AB 1px solid; 
}

.listresultnocenter 
{
    BORDER-RIGHT: #5993AB 1px solid; 
    BORDER-BOTTOM: #5993AB 1px solid; 
}

.listresultMouseOver 
{
    background-color: #E8EDFA;
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid; 
    BORDER-BOTTOM: #5993AB 1px solid; 
}

UL.errorMessage
{
    margin-left: 20px;
    padding-left: 0px;
}

.okMessage2
{
    margin-left: 20px;
    padding-left: 0px;
}

LI.errorMessage
{
    padding-left: 0px;
}

.okMessage
{
    padding-left: 0px;
}

.formBText
{
    font: 11px Arial, Verdana, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
}

.formText
{
    font: 11px Arial, Verdana, Helvetica, sans-serif;
}
.tabCaption
{
    font: 16px Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    padding: 5px;
    width: 20%;
}
.tabRow
{
    font: 14px Arial, Verdana, Helvetica, sans-serif;
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

.tabRow EM {
    font-style: normal;
    font-weight: bold;
    color: darkgreen;
    
}

