/*
.wyz-prim-color-txt-hover:hover {
	color: #34a853;
}
 .wyz-prim-color {
	background-color:;
}
wyz-prim-color-hover:hover{

 }
 */

@media only screen and (max-width: 767px) {
.search-wrapper>.close-button {
    background-color: #34a853;
  }
}
.search-wrapper:hover>.close-button{
  opacity: 1;
  background-color: #34a853;
}
.offer-banner-text a:hover{
  color: #34a853;
}
a:active, a:hover, a:focus{
  color: #34a853;
}

.single-place .link::before{
  background-color: #34a853;
}

.location-slide-item .location-image a::before{
  background-color: #34a853;
}

.location-search .input-box.input-days .selectize-control.multi .selectize-input [data-value],
.location-search .input-box.input-days .selectize-control.multi .selectize-input [data-value].active{
  background-color: #34a853;
}

.header-top-right .user-logged-in:hover i{
  background-color: #34a853;
}
