# One.com response headers BEGIN
<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|css|js|png|jpg|jpeg|svg|pdf)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>
# One.com response headers END