/*-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
  
  1. Gallery
  2. Default WordPress Widgets
    2.1. Search
    2.2. Calendar
    2.3. Lists
    2.4. Recent Comments Widget
    2.5. Sidebar Widget Title
    2.6. RSS Widget
  3. Widget Container
  4. Post Comment Form
  5. Password Strength Form
  6. WP Media Uploader
  7. Footer Widget Area
  8. Content Styles


-----------------------------------------------------------------------------------*/

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
/**
 * 1. Gallery
 */
.gallery .gallery-item {
	float: left;
    list-style: none;
    margin: 0px 0 0;
    overflow: hidden;
    padding: 0px 0px 5px 15px;
    text-align: center;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery .gallery-item img {
	float: left;
	padding: 0 0px;
	width: 100%;
	border: none !important
}
.gallery .gallery-caption {
	padding-top: 10px;
    font-size: 13px;
}
.gallery-caption {
	clear: both;
	color: rgba(51, 51, 51, 0.7);
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11%;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/**
 * 2. Default WordPress Widgets
 */
 /**
 * 2.1. Search
 */
.widget-area #searchform #s,
.wpb_widgetised_column .wpb_wrapper #searchform #s {
	border: 1px solid #ebebeb;
	font-size: 12px;
	height: 36px;
	padding: 5px 11px;
	width: 100%;
}
.widget-area #searchform #s:focus,
.wpb_widgetised_column .wpb_wrapper #searchform #s:focus, {
	color: #606060;
}
.widget-area #searchform #s::-webkit-input-placeholder,
.wpb_widgetised_column .wpb_wrapper #searchform #s::-webkit-input-placeholder {
	color: #a9a9a9;
}
.widget-area #searchform input[type=text] input:-moz-placeholder,
.wpb_widgetised_column .wpb_wrapper #searchform input[type=text] input:-moz-placeholder { /* Firefox 18- */
	color: #a9a9a9 !important;  
}
.widget-area #searchform input[type=text]::-moz-placeholder,
.wpb_widgetised_column .wpb_wrapper #searchform input[type=text]::-moz-placeholder {  /* Firefox 19+ */
	color: #a9a9a9 !important;  
}
.widget-area #searchform input[type=text]:-ms-input-placeholder,
.wpb_widgetised_column .wpb_wrapper #searchform input[type=text]:-ms-input-placeholder {  
	color: #a9a9a9 !important;  
}
.widget-area #searchform #searchsubmit,
.wpb_widgetised_column .wpb_wrapper #searchsubmit {
    display: none;
}
/**
 * 2.2. Calendar
 */
#wp-calendar {
	border-collapse: separate;
	border-spacing: 3px;
	position: relative;
	width: 100%;
}
#wp-calendar, #wp-calendar th, #wp-calendar td {
    border: 0 !important;
}
#wp-calendar caption {
	color: #606060;
	font-size: 12px;
    font-weight: 600;
	text-align: right;
}

#wp-calendar thead {
	font-size: 10px;
}
#wp-calendar thead th {
	color: #606060;
	padding: 0;
	padding-bottom: 10px;
	text-align: center;
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td{
	background-color: #f8f8f8;
    border: 1px solid #ebebeb;
	color: #636d77;
	font-size: 12px;
	padding:8px;
	text-align: center;
}
#wp-calendar tbody td.pad {
	background: none;
	border: none;
}
#wp-calendar tfoot #next{
	font-size: 10px;
	text-align: right;
	text-transform: uppercase;
}
#wp-calendar #today{
    border: none;
	color: #fff;
    font-weight: 600;
}
#wp-calendar tfoot #prev{
	font-size: 10px;
	padding-top: 10px;
	text-transform: uppercase;
}
/**
 * 2.3. Lists
 */
.widget-area .widget ul,
.wpb_widgetised_column .wpb_wrapper .widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget-area .widget .textwidget ul,
.wpb_widgetised_column .wpb_wrapper .widget .textwidget ul {
	list-style: disc;
}
.widget-area .widget .textwidget ul,
.widget-area .widget .textwidget ol,
.wpb_widgetised_column .wpb_wrapper .widget .textwidget ul,
.wpb_widgetised_column .wpb_wrapper .widget .textwidget ol {
	margin-left: 20px;
    margin-bottom: 24px;
}
.widget li a:before {
	color: #aaa;
	font-family: FontAwesome;
	content: "\f0da";
	margin-right: 5px;
}
.wpb_widgetised_column .wpb_wrapper .widget li a:before,
.widget-area .widget li a:before{
	color: #aaa;
	font-family: FontAwesome;
	content: "\f0da";
	margin-right: 5px;
}
/**
 * 2.4. Recent Comments Widget
 */
#recentcomments li.recentcomments,
.widget_recent_entries li,
.widget_archive li,
.widget_categories li,
.widget_meta li {
	font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
	position: relative;
}
#recentcomments {
	list-style: none;
	padding: 0;
}
.widget-area #recentcomments li.recentcomments,
.widget-area .widget_recent_entries li,
.widget-area .widget_archive li,
.widget-area .widget_pages li,
.widget-area .widget_categories li,
.widget-area .widget_meta li,
.widget-area .widget_nav_menu li,
.wpb_widgetised_column .wpb_wrapper #recentcomments li.recentcomments,
.wpb_widgetised_column .wpb_wrapper .widget_recent_entries li,
.wpb_widgetised_column .wpb_wrapper .widget_archive li,
.wpb_widgetised_column .wpb_wrapper .widget_pages li,
.wpb_widgetised_column .wpb_wrapper .widget_categories li,
.wpb_widgetised_column .wpb_wrapper .widget_nav_menu li,
.wpb_widgetised_column .wpb_wrapper .widget_meta li {
    margin: 0px 0px 25px;
    padding: 0px 0px 0px 15px;
}
.widget-area .widget_nav_menu .sub-menu li,
.wpb_widgetised_column .wpb_wrapper .widget_nav_menu .sub-menu li{
	margin: 10px 0;
}
.widget-area .widget_nav_menu .sub-menu li:last-child > a,
.wpb_widgetised_column .wpb_wrapper .widget_nav_menu .sub-menu li:last-child > a{
	padding-bottom: 0;
}
.widget-area .widget_pages .children,
.wpb_widgetised_column .wpb_wrapper .widget_pages .children,
.widget-area .widget_categories ul.children,
.wpb_widgetised_column .wpb_wrapper .widget_categories ul.children{
	margin-top: 15px;
}
.widget-area .widget_pages .page_item_has_children ul.children li,
.wpb_widgetised_column .wpb_wrapper .widget_pages .page_item_has_children ul.children li{
	margin: 20px 0;
}
.widget-area .widget_categories ul.children li,
.wpb_widgetised_column .wpb_wrapper .widget_categories ul.children li{
	margin: 20px 0;
}
.widget-area .widget_pages .page_item_has_children ul.children li:last-child,
.wpb_widgetised_column .wpb_wrapper .widget_pages .page_item_has_children ul.children li:last-child,
.widget-area .widget_categories ul.children li:last-child,
.wpb_widgetised_column .wpb_wrapper .widget_categories ul.children li:last-child{
	margin-bottom: 0;
}
.widget-area .widget_pages li li:last-child > a,
.wpb_widgetised_column .wpb_wrapper .widget_pages li li:last-child > a,
.widget-area .widget_categories li li:last-child > a,
.wpb_widgetised_column .wpb_wrapper .widget_categories li li:last-child > a {
	padding-bottom: 0;
}
.comment-subscription-form {
	float: right;
	line-height: 30px;
	margin-left: 15px;
	max-width: 80%;
}
.comment-subscription-form input[type="checkbox"] {
	margin-top: -2px;
	vertical-align: middle;
}
.comment-subscription-form .subscribe-label {
	font-family: montserrat;
	font-size: 14px;
	font-weight: 500;
	vertical-align: middle;
}
/**
 * 2.5. Sidebar Widget Title
 */
.sidebar-widget-area .widget-title,
.wpb_widgetised_column .wpb_wrapper .widget-title {
	border-bottom: 2px solid #303030;
	display: inline-block;
	font-size: 16px;
	margin: 45px 0 25px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.sidebar-widget-area .widget:first-child .widget-title,
.wpb_widgetised_column .wpb_wrapper .widget:first-child .widget-title {
    margin-top: 0;
}
.widget-area .widget,
.wpb_widgetised_column .wpb_wrapper .widget {
	margin-bottom: 30px;
}
/**
 * 2.6. RSS Widget
 */
.widget_rss .rsswidget {
	color: #303030;
	font-weight: 600;
}
.widget_rss .rss-date {
	font-style: italic;
}
.widget_rss li {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}
.widget_rss li:first-child {
	padding: 0 0 5px 0;
}
.widget_rss li:last-child {
	border-bottom: 0;
	padding: 5px 0 0 0;
}
.widget_rss cite {
	font-size: 12px;
}

/**
 * 3. Widget Container
 */
.sidebar-widget-area .screen-reader-text,
.wpb_widgetised_column .wpb_wrapper .screen-reader-text {
	color: #606060;
	display: block;
	font-family: montserrat;
	font-size: 14px;
	font-weight: normal;
	line-height: 33px;
}

/*
 * 4. Post Comment Form
 */
.comment-list .comment {
	padding-left: 93px;
	position: relative;
}
.comment-list .comment-author>img {
	left: 0;
	position: absolute;
	top: 0;
}
.comment-list .comment-author .fn {
	color: #303030;
	font-family: "Montserrat";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}
.comment-list .bypostauthor .comment-author .fn {
	font-style: italic;
	font-weight: 600;
}
.comment-list span.says {
	display: none;
}
.comment-list .comment-meta.commentmetadata {
	font-size: 12px;
	margin-bottom: 10px;
}

.comment-list .reply {
	position: absolute;
	right: 25px;
	
	top: -4px;
}
.comment-list .reply a {
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.comment-list .comment p {
	line-height: 18px;
	margin: 0 0 5px;
}
.comment-list .comment.parent>.comment {
	margin-top: 40px;
}
.comment-list .comment.depth-1 {
	margin-bottom: 70px;
}
.comment-list .comment.depth-1:last-child {
	margin-bottom: 0;
}
.comment-list #respond {
	margin-top: 20px;
	margin-bottom: 50px;
}
#respond #submit{
	display: none;
}
.comment-list #respond .comment-form-message {
	float: none !important;
}
.comment-list #respond .wyz-button.wyz-secondary-color {
	float: none !important;
}
#respond 
#comment-nav-above {
	height: 40px;
}
.pingback {
	line-height: 28px;
}

/**
 *  5. Password Strength Form
 */
#password-strength{
    height: 25px;
    line-height: 25px;
    display: none;
    text-align: center;
    border: 1px solid;
    margin-bottom: 20px;
}
#password-strength.bad{
    background-color: #f1adad;
    border-color: #e35b5b;
    display: block;
}
#password-strength.good{
    background-color: #ffe399;
    border-color: #ffc733;
    display: block;
}
#password-strength.strong{
    background-color: #c1e1b9;
    border-color: #83c373;
    display: block;
}
#password-strength.short{
    background-color: #f1adad;
    border-color: #e35b5b;
    display: block;
}

/**
 *  6. WP Media Uploader
 */
.media-modal-content .attachments-browser .media-toolbar-secondary {
	width: 50% !important;
}
.attachments-browser .media-toolbar-primary {
	max-width: 50% !important;
}
.media-modal-content .media-toolbar-primary.search-form {
	width: 50% !important;
}
.media-modal-content .attachments-browser .search {
	width: 70% !important;
}
.media-modal label, .media-modal legend {
	margin-right: 10px !important;
}
.media-modal-close {
	width: 130px !important;
}

/**
 *  7. Footer Widget Area
 */
.sin-footer .widget-title {
  color: #ffffff;
  font-size: 14px;
  line-height: 12px;
  margin: 0 0 25px;
  padding-bottom: 25px;
  position: relative;
  text-transform: uppercase;
}
.sin-footer .widget-title::before {
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 37px;
}
.sin-footer p,
.sin-footer .textwidget {
  color: #ffffff;
  font-size: 12px;
}
.sin-footer.widget-area .widget a {
	color: #fff;
}

/**
 *  8. Content Styles
 */
.alignleft {
	float: left;
	margin: 5px 25px 25px 0;
}
.alignright {
	float: right;
	margin: 5px 0 25px 25px;
}
.alighcenter, div.aligncenter {
	display: block;
	margin: 5px auto 15px;
}

.wp-caption {
	max-width: 100%;
}
.wp-caption p.wp-caption-text {
	color: #9d9d9d;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 10px 0;
	text-align: left;
}
.ui-datepicker-buttonpane .wp-core-ui .button-primary {
	text-shadow: none;
}

.wp-core-ui .notice.is-dismissible {
	overflow: auto;
}
/*date picker*/
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
}

.ui-datepicker * {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\f341';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\f345';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}
.ui-datepicker th span{
    color: #fff;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

.ui-datepicker thead {
    background: #3a3a3a;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

.wp-core-ui .quicktags-toolbar input.button.button-small {
	width: initial;
}

/* WordPress Color Schemes */

/* Fresh */
.admin-color-fresh .ui-datepicker .ui-widget-header,
.admin-color-fresh .ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.admin-color-fresh .ui-datepicker thead {
    background: #32373c;
}

.admin-color-fresh .ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* wp v 5.0 */
/* Blockquote --------------------------------------------- */
 blockquote, blockquote.wp-block-quote {
	 background: transparent;
	 text-align: left;
}
 blockquote p, blockquote.wp-block-quote p {
	 font-size: 24px;
	 font-style: normal;
	 font-weight: 400;
}
 blockquote cite, blockquote.wp-block-quote cite, blockquote .wp-block-quote__citation, blockquote.wp-block-quote .wp-block-quote__citation {
	 display: block;
	 font-size: 16px;
	 font-weight: 700;
	 margin-top: 12px;
	 text-transform: uppercase;
}
 blockquote p:last-of-type, blockquote.wp-block-quote p:last-of-type {
	 margin-bottom: 0;
}
 blockquote.is-large, blockquote.wp-block-quote.is-large, blockquote.is-style-large, blockquote.wp-block-quote.is-style-large {
	 margin: 15px auto;
}
/* Pull Quote --------------------------------------------- */
 .wp-block-pullquote {
	 border: none;
	 padding: 0;
}
 .wp-block-pullquote blockquote {
	 border-left: 0;
	 border-top: 8px solid #ccc;
	 border-bottom: 8px solid #ccc;
	 padding: 16px 0;
	 text-align: center;
	 max-width: 50%;
	 margin: 0 auto;
}
 .wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
	 max-width: 100%;
}
 
 /* Separator --------------------------------------------- */
 .wp-block-separator:not(.is-style-dots), hr:not(.is-style-dots) {
	 background-color: #cecece;
	 border: 0;
	 height: 1px;
}
 .wp-block-separator:not(.is-style-wide):not(.is-style-dots), hr:not(.is-style-wide):not(.is-style-dots) {
	 width: 100%;
	 height: 4px;
	 background: transparent;
}
 .wp-block-separator:not(.is-style-wide):not(.is-style-dots)::before, hr:not(.is-style-wide):not(.is-style-dots)::before {
	 content: '';
	 display: block;
	 height: 4px;
	 width: 40px;
	 background: #ccc;
}
 .wp-block-separator.is-style-dots:before, hr.is-style-dots:before {
	 color: #e2e2e2;
	 font-size: 18px;
	 letter-spacing: 12px;
	 padding-left: 12px;
}
 
 /*buttons*/
.wp-block-button .wp-block-button__link {
	 border-radius: 0;
	 font-weight: 700;
	 font-size: 16px;
	 line-height: 18px;
	 padding: 20px 24px;
}
 .wp-block-button .wp-block-button__link:hover {
	 background: #b3b3b3;
	 text-decoration: none;
}
 