@charset "UTF-8";

.carouselnn #container{
    border:0 solid;
    overflow:hidden
}
.carouselnn .element{
    border-bottom:1px solid #e3e3e3;
    height:56px;
    overflow:hidden;
    margin-bottom:4px;
    position:relative
}
.carouselnn .footer{
    height:28px;
    padding:0 5px 8px
}
.carouselnn .slika,.carouselnn .tekst{
    float:left;
    height:51px;
    overflow:hidden
}
.carouselnn a{
    font:700 12px/13.2px 'Open Sans',sans-serif;
    text-decoration:none;
    color:#222
}
.carouselnn .slika{
    width:87px;
    margin-right:6px
}
.carouselnn .slika img{
    width:87px;
    vertical-align:top;
    border:0
}
.carouselnn .tekst{
    width:207px
}
.carouselnn .next, .carouselnn .prev{
    display:block;
    float:left;
    height:25px;
    line-height:100px;
    width:25px
}
.carouselnn div.izdavac{
    position:absolute;
    bottom:0;
    right:4px
}
.carouselnn div.izdavac i{
    color:#5a7bcb;
    font-size:10px;
    font-style:normal
}
.carouselnn .next{
    background:url(d_up.png) no-repeat rgba(0,0,0,0);
    margin:1px 1px 1px 16px
}
.carouselnn .next:hover{
    background:url(d_up.png) -25px 0 no-repeat rgba(0,0,0,0)
}
.carouselnn .prev{
    background:url(d_down.png) no-repeat rgba(0,0,0,0);
    margin:1px 1px 1px 220px
}
.carouselnn .prev:hover{
    background:url(d_down.png) -25px 0 no-repeat rgba(0,0,0,0)
}
.carouselnn .carousel ul li{
    width:300px;
    height:64px
}
.btn2 {
    width: 100%;
    max-width: 300px;
    height: 50px;
    line-height: 50px;
    background-color: #57af08;
    border-radius: 8px;
    color: #fff !important;
    /* font-family: 'Indie Flower', cursive; */
    font-size: 19px;
    font-weight: bold;
    text-decoration: solid;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    padding-top: 0 !important;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
.revival-box img{
    width: auto !important;
    height: auto !important;
}
.update img{
    width: auto !important;
    height: auto !important;
}
.btn-container {
    position: absolute;
    left: 50%;
    bottom: -65px;
    margin: 0 0 100px -150px;
    margin-left: -86px;
}
.articleTxt>img{
    margin-bottom: 0;
}
.upscore-pos-2 > li{
    margin-left: 0 !important;
}
.upscore-pos-7{
    position: relative;
}
.link-frame{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.upscore-pos-8{
    position: relative;
}
@media all and (max-width: 600px){
    .upscore-pos-7{
        display: none;
    }
    .upscore-pos-8{
        display: none;
    }
}