BODY {
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
TD {
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
.headerLogo
{
    background-color: #FFFFFF;
    height: 47px;
    font-weight: bold;
}
.topHeader
{
    background-color: #FFFFFF;
    width: 100%;
    height: 25px;
}
.topUserInfo
{
    background-color: #FFFFFF;
}
.headerTopMenu
{
    BACKGROUND-color: #E8EDFA;
    height: 22px;
}
.headerTopMenuSpacer
{
    background-color: #FFFFFF;
    width: 5px;
    height: 22px;
}
.topMenuLeftTab
{
    BACKGROUND-color: #5993AB;
    width: 1px;
    height: 22px;
}
.topMenuRightTab
{
    BACKGROUND-color: #5993AB;
    width: 1px;
    height: 22px;
}
.topMenuContent
{
    border-top: #5993AB 1px solid;
    background-color: #E8EDFA;
    width: 110px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}
.topMenuLeftTabDisabled
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_topmenulefttab_dis.png");
    BACKGROUND-REPEAT: no-repeat;
    width: 3px;
    height: 22px;
}
.topMenuRightTabDisabled
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_topmenurighttab_dis.png");
    BACKGROUND-REPEAT: no-repeat;
    width: 3px;
    height: 22px;
}
.topMenuContentDisabled
{
    border-top: #5993AB 1px solid;
    background-color: #D6DFF5;
    width: 110px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}
.topMenuLine
{
    width: 100px;
    height: 5px;
    background-color: #B3CED9;
}
.topMenuLineAboveMenu
{
    width: 175px;
    height: 1px;
    background-color: #FFFFFF;
}

.topMenuLineAboveContent
{
    height: 1px;
    background-color: #5993AB;
}
.topCorner
{
    BACKGROUND-REPEAT: no-repeat;
    height: 5px;
    width: 7px;
    background-color: #FFFFFF;
    border-top: #5993AB 1px solid;
}

A.papTopMenuLink
{
    font-size: 12px;
    font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #333333;
    text-decoration: none;
    CURSOR: pointer;
}
.papTopMenuLinkDisabled
{
    font-size: 12px;
    font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
    CURSOR: pointer;
}
A.aLeftMenuItem {
	COLOR: #0056B6;
    FONT-FAMILY: Tahoma, Arial,Helvetica,sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal
}

TD.leftMenuMain
{
    width: 172px;
    height: 100%;
    text-align: left;
    vertical-align: top;
}

.leftMenu
{
    text-align: left;
    vertical-align: top;
    height: 100%;
    background-color: #E8EDFA;
}

.leftMenuContent
{
    width: 178px;
    height: 100%;
    text-align: left;
    vertical-align: top;
    background-color: #E8EDFA;
}

.leftMenuContentBorder
{
    width: 3px;
    height: 100%;
    background-color: #E8EDFA;
}

.topSmallNavigation
{
    height: 22px;
    background-color: #E8EDFA;
    border-bottom: #5993AB 1px solid;
}

.leftMenuBorder
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_leftmenuborder.png");
    BACKGROUND-REPEAT: repeat-y;
    width: 6px;
    height: 100%;
    background-color: #FFFFFF;
}

.leftMenuLine
{
    width: 1px;
    height: 100%;
    background-color: #5993AB;
}

.leftMenuTableOpened
{
    width: 100%;
    border: #5993AB 1px solid;
}

.leftMenuTableClosed
{
    width: 100%;
    border: #5993AB 1px solid;
}

.leftMenuTableOpened .menuTree {
	DISPLAY: block
}
.leftMenuTableClosed .menuTree {
	DISPLAY: none
}

.leftMenuHeader
{
    background-color: #B3CED9;
    color: #0056B6;
    height: 20px;
    padding-left: 8px;
	font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/darrow.png");
    BACKGROUND-REPEAT: no-repeat;
    background-position: 152px;
}

.leftMenuItem
{
    background-image: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_leftmenuitem.png");
    BACKGROUND-REPEAT: no-repeat;
    background-position: 10px;
    color: #0056B6;
    height: 17px;
    padding-left: 25px;
	font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
}
.leftMenuTop
{
    height: 4px;
}
.leftMenuBottom
{
    height: 5px;
}
.tabSpacer
{
    BACKGROUND-IMAGE: url("blue_topspacer.png");
    BACKGROUND-REPEAT: repeat-x;
    width: 5px;
}
.tabLeftTab
{
    BACKGROUND-IMAGE: url("blue_tablefttab2.png");
    BACKGROUND-REPEAT: no-repeat;
    width: 3px;
}
.tabRightTab
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_tabrighttab.png");
    BACKGROUND-REPEAT: no-repeat;
    width: 3px;
}
.tabContent
{
    border-top: #5993AB 1px solid;
    background-color: #B3CED9;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}
.tabContentText {
    text-align: center;
    vertical-align: middle;
    color: #333333;
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}
.tabLeftTabDisabled
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_tablefttab_dis.png");
    BACKGROUND-REPEAT: no-repeat;
    width: 3px;
}
.tabRightTabDisabled
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/blue_tabrighttab_dis.png");
    BACKGROUND-REPEAT: no-repeat;
    width: 3px;
}
.tabContentDisabled
{
    border-top: #5993AB 1px solid;
    background-color: #D6DFF5;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    color: #666666;
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}
.tabLine
{
    width: 100px;
    height: 5px;
    background-color: #B3CED9;
    BORDER-LEFT: #5993AB 1px solid;
    BORDER-RIGHT: #5993AB 1px solid;
}
.tabEdgeBorder1
{
    background-color: #5993AB;
    width: 1px;
    height: 1px;
}

.tabEdgeBorder2
{
    background-color: #5993AB;
    width: 2px;
    height: 1px;
}

.tabEdgeBorder3
{
    background-color: #5993AB;
    width: 1px;
}

.tabEdgeBorder4
{
    background-color: #5993AB;
    height: 1px;
}

.tabEdgeContent
{
    background-color: #B3CED9;
}

.tabEdgeContentDisabled
{
    background-color: #D6DFF5;
}
H5
{
    font: 16px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0px;
}
H6
{
    font: 14px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0px;
}
FORM
{
    margin-top: 0px;
    margin-bottom: 0px;
}
INPUT
{
    font: 12px Arial, Verdana, Helvetica, sans-serif;
}
SELECT
{
    font: 12px Arial, Verdana, Helvetica, sans-serif;
}
IMG
{
    BORDER: 0;
}
.logo
{
    BACKGROUND-IMAGE: url("/a_v/svn/affiliate/trunk/scripts/../templates/affiliate/default/images/wdlogo.png");
    BACKGROUND-REPEAT: no-repeat;
}
TEXTAREA
{
    font: 12px Arial, Verdana, Helvetica, sans-serif;
}

A.mainlink
{
    font-size: 12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #FF0000;
    text-decoration: none;
    CURSOR: pointer;
}
.apFaq {
    vertical-align:top;
    text-align: left;
    color: #0000CC;
    font-family:Tahoma,arial ,verdana,sans-serif;
    font-size:12px;
    font-weight:bold; 
}
.apFaqAnswer {
    vertical-align:top;
    text-align: left;
    color: #0000CC;
    font-family:Tahoma,arial ,verdana,sans-serif;
    font-size:12px;
    font-weight:bold; 
    TEXT-DECORATION: underline
}
.helplink
{
    font-size: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #00AA00;
    text-decoration: underline;
    CURSOR: pointer;
}

.simplelink
{
    font-size: 12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #FF0000;
    text-decoration: underline;
    CURSOR: pointer;
    FONT-WEIGHT: normal;
}
.textlink
{
	COLOR: #0056B6;
    FONT-FAMILY: Tahoma, Arial,Helvetica,sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal
}

.filterline
{
    height: 1px;
	color: #B3CED9;
}

.minusCost
{
	color: #ff0000;
}

TD
{
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
}

.advertisementTable
{
    border: #5993AB 1px solid;
}

.advertisementCaption
{
    font-size: 9px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #ffffff;
    background-color: #5993AB;
}

.minihelp
{
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
	COLOR: #444444;
}
.contents
{
    background-color: #FFFFFF;
    text-align: left;
    vertical-align: top;
}

.footer
{
    color: #555555;
    height: 15px;
    background-color: #E8EDFA;
    border-top: #5993AB 1px solid;
}

.formbutton
{
    font-size: 12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #000000;
    CURSOR: pointer;
}

.forminput
{
    font-size: 12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #000000;
    border-style: solid;
    border-width: 1;
    border-color: #5993AB;
    background-color: #FFFFFF;
}

.listing
{
    border: #5993AB 1px solid;
}

.listingBorderTopRight
{
    border-top: #5993AB 1px solid;
    border-right: #5993AB 1px solid;
}


.errorMsgTable
{
    border: #FF0000 1px solid;
    width: 450px;
}

.okMsgTable
{
    border: #00AA00 1px solid;
    width: 450px;
}

.settings
{
    border-left: #5993AB 1px solid;
    border-right: #5993AB 1px solid;
    border-bottom: #5993AB 1px solid;
}

.settingsLine
{
    border-top: #5993AB 1px solid;
    height: 5px;
}

.listingClosed
{
    border: #5993AB 1px solid;
}

.listing .hidableHeader {
    DISPLAY: block
}
.listingClosed .hidableHeader {
    DISPLAY: none
}

.actionheader
{
    background-color: #FFFFFF;
    BORDER-BOTTOM: #5993AB 1px solid;
    height: 20px;
    padding-left: 2px;
}

.tableheader
{
    background-color: #B3CED9;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #B3CED9 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.errorMessageHeader
{
    background-color: #FFA9A9;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #FF0000 1px solid;
}

.okMessageHeader
{
    background-color: #BAFCBA;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #00AA00 1px solid;
}

.tableheader2
{
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: middle;
    FONT-WEIGHT: normal;
    padding: 2px;
    background-color: #D6DFF5;
    BORDER-TOP: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.errorMessage
{
    color: #FF0000;
}

.okMessage
{
    color: #00AA00;
}

.sideborders
{
    BORDER-LEFT: #5993AB 1px solid;
    BORDER-RIGHT: #5993AB 1px solid;
}

.listheader
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listheaderLineTop
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-TOP: #5993AB 1px solid;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listheaderLineRight
{
    background-color: #D9E6EC;
    BORDER-RIGHT: #5993AB 1px solid;
}

.listheadersort
{
    background-color: #B3CED9;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listheaderLeft
{
    background-color: #D9E6EC;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listheaderNoRightLine
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listPaging
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listheaderNoLineNoBold
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
}

.listheaderNoBold
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listheaderNoLine
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
}

.listheaderNoLineLeft
{
    background-color: #D9E6EC;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
}

.listViewLine
{
    background-color: #D9E6EC;
    TEXT-ALIGN: left;
    height: 25px;
    VERTICAL-ALIGN: middle;
    BORDER-TOP: #5993AB 1px solid;
}

.listViewLineRight
{
    background-color: #D9E6EC;
    TEXT-ALIGN: right;
    height: 25px;
    VERTICAL-ALIGN: middle;
    BORDER-TOP: #5993AB 1px solid;
}

.tablelistheader
{
    background-color: #D9E6EC;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.header
{
    background-color: #B3CED9;
    TEXT-ALIGN: center;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-BOTTOM: #ffffff 1px solid;
}

.listresult
{
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listresultBorderRight
{
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid;
}

.listresult2
{
    BORDER-RIGHT: #D9E6EC 1px solid;
}

.listrow0
{
    background-color: #FFFFFF;
}

.listrow1
{
    background-color: #E8EDFA;
}

.detailrow0
{
    background-color: #F2F5FC;
}


.detailrow1
{
    background-color: #EBEEF5;
}

.settingtab
{
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
    BORDER-LEFT: #5993AB 1px solid;
}

.listresultNoRightLine
{
    TEXT-ALIGN: center;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listresultnocenter
{
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listresultMouseOver
{
    background-color: #E8EDFA;
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listresultSelected
{
    background-color: #E8EDFA;
    TEXT-ALIGN: center;
    BORDER-RIGHT: #5993AB 1px solid;
    BORDER-BOTTOM: #5993AB 1px solid;
}

.listresultNoLine
{

}


.formBText
{
    font: 12px Arial, Verdana, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
}

.formText
{
    font: 12px Arial, Verdana, Helvetica, sans-serif;
}

.formRowOdd
{
    background-color: #FFFFFF;
}

.formRowEven
{
    background-color: #E8EDFA;
}

A.biggerRedLink {
    color: #ff0000;
	font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


DIV.errorMessage
{
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #ff0000;
}
.okMessage
{
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #00cc00;
}
.poweredby {
    font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #888888;
}
.bigText {
    font-family: 14px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}
.delimiter {
    background-color: #D6DFF5;
    font-weight: bold;
    font-family: 14px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    padding: 3px;
    margin-bottom: 3px;
}

SPAN.top_feat {
    font-weight: bold;
    font-family: 14px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #0000ff;
}
A.ap_faq {
    font-weight: bold;
    font-family: 14px Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #0000ff;
    TEXT-DECORATION: none;
}    
