.first-section{
    min-height: 100vh;
    background: url(../img/fs-bg.png) no-repeat;
    background-size: 100% 100%;
}
.first-section-top{
    padding-top: 30px;
}
.slogan{
    position: relative;
    height: 80px;
    padding: 0 10px;
    line-height: 80px; 
    margin-top: 20px;
    display: block;
    width: calc(100% - 80px);
    font-size: 22px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}
.slogan:after{
    content: '';
    display: block;
    position: absolute;
    right: -80px;
    top: 0px;
    border: 40px solid transparent;
    border-left: 40px solid rgba(0, 0, 0, 0.4);
    border-top: 40px solid rgba(0, 0, 0, 0.4);
}
.first-section-content-text{
    position: relative;
    font-size: 22px;
    color: #fff;
    background: rgba(95, 73, 73, 0.4);
    padding: 20px;
    height: 100%;
}
.first-section-content-text:after{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: linear-gradient(to left bottom, rgba(128, 92, 92, 0.25) 50%, transparent 50%)
}
.form-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.form-group label{
    width: 100%;
    font-size: 18px;
    color: #fff;
    margin-bottom: 1px;
}
.form-group input{
    width: 50%;
    height: 35px;
    font-size: 14px;
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
}
.form-group textarea{
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    position: relative;
    z-index: 99;
}
.plus-hand:after{
    content: '';
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    width: 210px;
    height: 255px;
    background: url('../img/hand.png');
}
.form-group input[type="submit"]{
    background: #bd2622;
    margin-top: 25px;
    color: #fff;
    width: 40%;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.second-section{
    min-height: 100vh;
    background: url(../img/second-bg.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
}
.second-section-img-wrapper{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
}
.second-section-img-wrapper-item{
    width: 50%;
}
.second-section-img-wrapper-item:first-child{
    display: flex;
    justify-content: flex-end;
}
.triogle-section{
    margin-top: 5%;
    background: rgba(0, 255, 0, 0.4);
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}
.triogle-section:after{
    content: '';
    width: 50%;
    left: 0;
    bottom: -50px;  
    position: absolute;
    height: 50px;
    background: linear-gradient(to left bottom, rgba(0, 255, 0, 0.4) 50%, transparent 50%)
}
.triogle-section:before{
    content: '';
    width: 50%;
    right: 0;
    bottom: -50px;  
    position: absolute;
    height: 50px;
    background: linear-gradient(to right bottom, rgba(0, 255, 0, 0.5) 50%, transparent 50%)
}
.third-section{
    min-height: 100vh;
    background: url(../img/third-bg.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    padding: 20px;
}
.third-section-container{
    width: 100%;
    background: url(../img/third-container-wr.png) no-repeat;
    background-size: 100% 100%;
    height: 90vh;
    padding-top: 15px;
}
.third-section-content{
    display: flex;
    height: 70vh;
}
.third-section-content-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.third-section-content-center{
    width: 60%;
    padding-top: 8px;
    background: url(../img/centeer-bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.third-section-content-center-row{
    display: flex;
    margin-bottom: 8%;
}
.img-center__bottom{
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}
.third-section-content-center-row-item{
    width: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.third-section-content-center-last{
    justify-content: center;
}
.mt18{
    margin-top: 18px;
}


.four-section{
    min-height: 100vh;
    background: url(../img/four-bg.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    padding: 20px;
}
.four-section-content{
    min-height: 90vh;
    background-size: 100% 100%;
    padding-top: 5%;
}

.five-section{
    min-height: 100vh;
    background: url(../img/five-bg.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}
.container-center{
    display: flex;
    height: 60vh;
    align-items: center;
}
.four-section-content__text{
    padding: 30px;
    color: #fff;
    font-size: 18px;
    background: rgba(95, 73, 73, 0.5);
}
.four-section-content__video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.six-section{
    min-height: 100vh;
    background: url(../img/six-bg.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 7%;
    position: relative;
}
.six-section-title{
    color: #fff;
    padding: 0 11%;
}
.video-wraper{
    display: flex;
    align-items: center;
}
.video-content{
    padding-left: 20px;
    width: 100%;
    height: 600px;
}
.video-content-item{
    height: 100%;
}
.video-content iframe{
    width: 100%;
    height: 100%;
}
.project{
    display: flex;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7); 
    margin-top: 30px;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    transition: 0.2s all;
    cursor: pointer;
}
.project:hover{
    transform: scale(1.02);
}
.project-img{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 10x solid #ececec;
}
.project-img img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}
.project-decs{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-desc-title{
    padding-top: 5px;
    color:#a9c731;
    font-size: 18px;
}
.butt{
    background: #a9c731;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s all;
}
.butt:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}
.move-top{
    font-size: 22px;
    padding: 10px;
    margin-top: 10px;
}
.fp-tableCell{
    display: block !important;
}
#fullpage{
    height: auto !important;
}
.slider-nav{
    margin-top: 40px;
}
.slider-nav .col-xs-3{
    position: relative;
    margin-left: 10px;
}
.slider-nav .col-xs-3 iframe{
    width: 100%;
    height: 100%;
}
.slider-nav .col-xs-3:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    background: rgba(0,0,0,0.5);
}
.slider-nav .slick-active.slick-current:after{
    background: rgba(0,0,0,0.2);
}
.slider-for .slick-slide.slick-current.slick-active{
    height: 450px;
}

.slider-for iframe{
    width: 100%;
    height: 450px;
}
.slick-prev::before{
    content: '<';
    background: rgba(0,0,0, 0.5);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
}
.slick-next::before{
    content: '>';
    background: rgba(0,0,0, 0.5);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
}
.slider-project__item{
    width: 320px;
    padding: 0 20px;
}
.slider-project{
    width: 100%;
}
.slider-project .slick-prev,.slider-project .slick-next{
    top: calc(100% + 40px) !important;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    font-size: 14px;
    color: #fff;
    background: #a9c731;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s all;
    width: 80px;
    height: auto;
}
.slider-project .slick-prev{
    left: calc(50% - 60px);
}
.slider-project .slick-next{
    left: calc(50% + 60px);
}
.slider-project .slick-prev:before,.slider-project .slick-next:before{
    display: none;
}
.slider-project .slick-disabled{
    background: rgba(0, 0, 0, 0.4);
}

.scrolTop{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;
}
.scrolTop:hover{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-decoration: none;
}
.footer{
    z-index: -1;
    position: relative;
    height: 250px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 65px;
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
}
.footer-social{
    display: flex;
    flex-wrap: wrap;
}
.footer-social-item img{
    width: 55px;
    height: 55px;
}
.footer-social-item:nth-child(1){
    width: 100%;
    text-align: center;
}
.footer-social-item:nth-child(1) img{
    margin: 0 auto;
    margin-left: -10px;   
}
.footer-social-item:nth-child(2){
    margin-right: 40px;
}
.footer-social-item:nth-child(4){
    width: 100%;
    text-align: center;
}
.footer-social-item:nth-child(4) img{
    margin: 0 auto;
    margin-left: -10px;   
}