/* Device width fix for Windows Phone 8 and IE 10 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* Generic helper classes, extending Bootstrap helper classes ------------------------------------ */

/* Padding control */

.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }

.padding-top-xs { padding-top: 6px; }
.padding-top-sm { padding-top: 15px; }
.padding-top-md { padding-top: 20px; }
.padding-top-lg { padding-top: 30px; }

.padding-right-xs { padding-right: 6px; }
.padding-right-sm { padding-right: 15px; }
.padding-right-md { padding-right: 20px; }
.padding-right-lg { padding-right: 30px; }

.padding-bottom-xs { padding-bottom: 6px; }
.padding-bottom-sm { padding-bottom: 15px; }
.padding-bottom-md { padding-bottom: 20px; }
.padding-bottom-lg { padding-bottom: 30px; }

.padding-left-xs { padding-left: 6px; }
.padding-left-sm { padding-left: 15px; }
.padding-left-md { padding-left: 20px; }
.padding-left-lg { padding-left: 30px; }

/* Margin control */

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }

.margin-top-xs { margin-top: 6px; }
.margin-top-sm { margin-top: 15px; }
.margin-top-md { margin-top: 20px; }
.margin-top-lg { margin-top: 30px; }

.margin-right-xs { margin-right: 6px; }
.margin-right-sm { margin-right: 15px; }
.margin-right-md { margin-right: 20px; }
.margin-right-lg { margin-right: 30px; }

.margin-bottom-xs { margin-bottom: 6px; }
.margin-bottom-sm { margin-bottom: 15px; }
.margin-bottom-md { margin-bottom: 20px; }
.margin-bottom-lg { margin-bottom: 30px; }

.margin-left-xs { margin-left: 6px; }
.margin-left-sm { margin-left: 15px; }
.margin-left-md { margin-left: 20px; }
.margin-left-lg { margin-left: 30px; }

.slideShow-video-navigation-fix {
  background-image: none !important;
  top:100px;
  bottom:100px;
  z-index: 500;
}

/*Flowplayer volume/mute icon fix for IE8*/
.flowplayer.is-mouseout .fp-mute{ display: none;}

/*JWPlayer white background flickering fix*/
.modal-content{background-color: transparent !important;}

/*overlay templates preview specific styles*/
body div#wf-dark-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 1000;
  opacity: 0.5;
}
.wf-overlay-preview  {
  box-shadow: 0 0 5px 3px orange;
  outline: 1px solid orange;
}

.wf-overlay-preview.overlay-active {
  position: relative !important;
  z-index: 1001 !important;
  /*todo: should be computed instead of static*/
  background: white;
}

/*The following css is for those browsers that doesn't support the HTML5 hidden attribute*/
*[hidden] { display: none; }
