img {
  max-width: 100%;
}
.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 160px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header {
    grid-area: h;
}
.nav {
  grid-area: n;
}
.content {
  grid-area: c;
}

.header img {
  width: 100px;
}
