/* test */
body{
    background: #ececec;
    color: #3a3a3a;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.about-company .title {
    font-size: 22px;
    font-family: "Lato";
    font-weight: normal;
    color: rgb(95, 95, 95);
}
/* title  */
.title{
    color: #3a3a3a;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    margin-bottom: 30px;
}
.title--center{
    text-align: center;
}
.title--border--left:after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #caad23;
    bottom: -5px;
    left: 0;
}
.title--border--center:after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #caad23;
    bottom: -5px;
    left: 50%;
    margin-left: -33px;
}

/* title end */
.user-form-button:hover, .rate-form-submit:hover, .company-message-input-submit:hover, .location-form-item input[type="submit"]:hover{
    opacity: 0.95;
    color: #caad23 !important;
}
.button-register-company:hover{
    color: #437e86 !important;
    opacity: 0.95;
}
.butt:hover{
    opacity: 0.95;
    color: #caad23 ;
}

a:hover{
    text-decoration: none;
}
.header{
    background: #fff;
}
.header-top{
    padding: 8px 0;
    border-bottom: 1px solid#c4c4c4;
}
.user-profile-link{
    display: flex;
    color: #707070;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.04px;
    letter-spacing: .96px;
}
.user-profile-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.user-profile-icon svg{
    width: 14px;
    height: 14px;
}
.lang-switcher-link{
    color: #707070;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.04px;
    letter-spacing: .96px;
}
.user-form-text{
    color: #707070;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.96px;
}
.user-form-button{
    min-width: 130px;
    text-align: center;
    line-height: 32px;
    color: #fefefe;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    border-radius: 25px;
}
.user-form-button:hover{
    text-decoration: none;
    color: inherit;
}
.button-register-user{
    background-color: #437e86;
    margin-right: 15px;
    margin-left: 15px;
}
.button-register-company{
    background: #c3aa2d;
}
.logo img{
    max-width: 100%;
}
.header-bottom{
    padding: 10px 0;
}
.header-bottom-right{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.header-bottom-right img{
    width: 100%;
}
.header-menu{
    background: #437e86;
    padding: 25px 0;
}
.menu{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu-item{
    box-sizing: border-box;
    display: inline-block;
}
.menu-item-link{
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s all;
    letter-spacing: 1.52px;
}
.menu-item-link:hover{
    color: #caad23;
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: underline;
}
#menu-button {
    cursor: pointer; 
    padding: 10px 35px 16px 0px;
}
#menu-button span, #menu-button span:before, #menu-button span:after {
    cursor: pointer;
    height: 2px;
    width: 35px;
    background: #358457;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.5s ease-in-out;
}
#menu-button span:before {
    animation: undo-top .5s forwards;
}
#menu-button span:after {
    bottom: -10px;
    animation: undo-bottom .5s;
}
#menu-button.active span {
    background-color: transparent;
}
#menu-button.active span:before {
    top: 0;
}
#menu-button.active span:before {
    transform: translateY(0px);
    animation: top-x .5s forwards;
}
#menu-button.active span:after {
    transform: translateY(0px);
    animation: bottom-x .5s forwards;
}
@keyframes top-x {
    0% { transform: translateY(-10px) rotate(0); }
    50% { transform: translateY(0px) rotate(0); }
    100% { transform: translateY(0px) rotate(45deg); }
}
@keyframes bottom-x {
    0% { transfrom: translateY(0) rotate(0); }
    50% { transform: translateY(-10px) rotate(0); }
    100% { transform: translateY(-10px) rotate(-45deg); }
}
@keyframes undo-top { 
    0% { transform: translateY(0px) rotate(45deg); }
    50% { transform: translateY(0px) rotate(0); }
    100% { transform: translateY(-10px) rotate(0); }
}
@keyframes undo-bottom {
    0% { transform: translateY(-10px) rotate(-45deg); }
    50% { transform: translateY(-10px) rotate(0); }
    100% { transfrom: translateY(0px) rotate(0); }
}
.header-mobile-left .lang-switcher{
    margin-right: 10px;
}
.header-mobile-left .user-profile{
    margin-right: 10px;
}
.home-map{
    height: 425px;
}
.location-search{
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: -85px;
    position: relative;
    z-index: 99;
}
.location-search{
    padding: 40px 0;
}
.location-form{
    display: flex; 
}
.location-form-item{
    width: 20%;
}
.location-form-item input{
    width: 90%;
    border-radius: 20px;
    padding: 7px 17px;
    border: 1px solid #c4c4c4;
    outline: none;
    color: #707070;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
}
.location-form-item input[type="submit"]{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34);
    background-color: #437e86;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.04px;
    /* Text style for "S, earch" */
    letter-spacing: .6px;
    border: none;
    border-radius: 20px;
}
.location-form-item select{
    width: 90%;
    border-radius: 20px;
    padding:7px 17px;
    border: 1px solid #c4c4c4;
    outline: none;
    color: #707070;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
}
.location-form-item-bottom{
    display: flex;
    align-items: flex-end;
}
.radius-slider{
    height: 6px;
    background-color: #e4e4e4;
    position: relative;
    margin-top: 15px;
    width: 90%;
}
.radius-slider .ui-slider-handle{
    width: 16px;
    height: 16px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    border-radius: 50%;
    top: -6px;
    display: block;
    position: absolute;
    outline: none;
}
.radius-slider .ui-slider-range{
    background-color: #caad23;
    height: 6px;
}
.location-form-item label{
    color: #707070;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.info{
    padding: 50px 0;
}
.info-text{
    color: #323232;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.04px;
    text-align: center;
    padding-bottom: 30px;
}
.info-text a{
    color: #437e86;
}
.statistic-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.single-chart {
    width: 155px;
    justify-content: space-between;
}
.single-chart p{
    text-align: center;
}
.circular-chart {
    display: block;
    margin: 10px auto;
    width: 132px;
    max-height: 250px;
}
.circle-bg {
    fill: none;
    stroke: #b8b8b8;
    stroke-width: 1;
}
.circle {
    fill: none;
    stroke-width: 1.2;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
.circular-chart .circle {
    stroke: #d5af00;
}
.circular-chart.blue .circle {
    stroke: #038089;
}
.chart-amount {
    fill: #3a3a3a;
    font-family: Lato;
    font-size: 6px;
    font-weight: 400;
    text-anchor: middle;
}

/* Card */
.card{
    background-color: #ffffff;
}
.card-top{
    padding: 5px 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 5px;
    justify-content: space-between;
}
.card-top-icon svg{
    width: 20px;
    height: 20px;
}
.card-top-category svg{
    display: inline-block;
    margin-right: 5px;
}
.card-top-category{
    color: #5f5f5f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.card-top-warranty{
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #caad23;
}
.card-top-warranty svg{
    width: 25px;
    height: 30px;   
    fill: #fff;
}
.card-image img{
    width: 100%;
}
.card-content{
    padding-top: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}
.card-content-inf-company{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 11px;
    display: flex;
    align-items: center;
}
.company-image{
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 15px;    
}
.company-link{
    color: #437e86;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.company-link:hover{
    text-decoration: underline;
}
.company-rating {
    padding: 7px 0;
}
.company-rating svg{
    fill: #d5af00;
    width: 20px;
    height: 20px;
}
.company-contact .marker-icon{
    width: 20px;
    height: 20px;
}
.company-contact .icon{
    display: inline-block;
    margin-right: 11px;
}
.geography-icon{
    width: 16px;
    height: 16px;
}
.company-contact p{
    color: #707070;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    display: flex;
    align-items: center;
}
.company-contact p{
    margin-bottom: 3px;
}
.company-contact a{
    color: #707070;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.04px;
}
/* Card end */


/* Latest announcements */
.latest{
    padding-top: 100px;   
}
.latest-slider.owl-carousel .owl-item img{
    width: inherit;
}
.latest-slider.owl-carousel .owl-item .card-image{
    width: 100%;
}
.latest-slider .owl-nav{
    position: absolute;
    right: 0;
    top: -45px;
    display: flex;

}
.latest-slider .owl-nav svg{
    width: 9px;
    height: 15px;
    fill: #707070;
}
.latest-slider .owl-nav button{
    width: 35px;
    height: 35px;
    border: 1px solid #707070 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.latest-slider .owl-nav button.owl-next{
    transform: rotate(180deg);
    margin-left: 30px;
}

/* Latest announcements end */

/* Category */
.category{
    padding-top: 100px;
}
.category-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    border-radius: 10px;
}
.category-item:after{
    content: '';
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    background-color: #484848;
    opacity: 0.35;
    border-radius: 10px;
    transition: .3s all;
}
.category-item-title{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6.48px;
    border: 1px solid transparent;
}
.category-item:hover:after{
    opacity: 0.45;
}
.category-item-title::after, .category-item-title::before {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    content: "";
    border-color: #fff;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
.category-item-title::after {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    border-left: 2px solid;
    border-right: 2px solid;
}
.category-item-title::before {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.category-item:hover .category-item-title::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}
.category-item:hover .category-item-title::after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}

/* Category end */


/* Offers */

.offer{
    padding-top: 100px;
}
.offer-slider img{
    width: auto !important;
}
.offer-slider-item{
    display: flex;
    padding: 65px 45px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}
.offer-slider-item-left{
    width: 40%;
}
.offer-slider-item-category{
    display: flex;
    align-items: center;
    margin-top: -20px;
    position: relative;
    z-index: 99;
}
.offer-slider-item-category-icon{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #caad23;
}
.offer-slider-item-category-icon svg{
    width: 25px;
    height: 22px;
    fill: #fff;
}
.offer-slider-item-category-name{
    color: #caad23;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    padding-left: 8px;
}
.offer-slider .offer-slider-item-image{
    display: block;
    width: 100% !important;
    height: 100% !important;
    margin-top: -15px;
}
.offer-slider-item-right{
    width: 60%;
    padding-left: 30px;
    padding-top: 15px;
}
.offer-slider-item-right-topline{
    display: flex;
    justify-content: space-between;
}
.offer-slider-item-links{
    display: flex;
}
.offer-slider-item-link{
    display: inline-block;
}
.offer-slider-item-links .offer-slider-item-link:first-child{
    margin-right: 20px;    
}
.offer-slider-item-link svg{
    width: 20px;
    height: 20px;
    fill: #cdcdcd;
    stroke: #cdcdcd;
}
.offer-slider-item-right-topline .card-content-inf-company{
    border: none;
}
.offer-slider-item-right-topline{
    border-bottom: 1px solid #cccccc;;
}
.offer-slider-item-right-content{
    padding-top: 15px;  
}
.offer-slider-item-right-content p{
    margin-bottom: 10px;
}
.button-offer{
    min-width: 130px;
    text-align: center;
    line-height: 32px;
    color: #fefefe;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    border-radius: 25px;
    background-color: #437e86;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34);
}
.button-offer:hover{
    color:#c3aa2d;
}
.offer-slider .owl-nav{
    position: absolute;
    right: 0;
    top: -45px;
    display: flex;

}
.offer-slider .owl-nav svg{
    width: 9px;
    height: 15px;
    fill: #707070;
}
.offer-slider .owl-nav button{
    width: 35px;
    height: 35px;
    border: 1px solid #707070 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
.offer-slider .owl-nav button.owl-next{
    transform: rotate(180deg);
    margin-left: 30px;
}

/* Offers end*/


/* Location */

.location{
    padding-top: 100px;
    padding-bottom: 30px;
}

.location-city{
    height: 88px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 35px;
    width: 100%;
}
.city svg{
    width: 16px;
    height: 24px;
}
.city-amount{
    width: 43px;
    position: absolute;
    display: inline-block;
    right: -21.5px;
    top: 21.5px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #437e86;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    border: 5px solid #ececec;
    border-radius: 50%;
}
.location-slider-item .location-city:nth-child(2){
    margin-left: calc(-50% - 22px);
}

/* Location end */


.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    background: #ececec;
    z-index: 999;
    -webkit-box-shadow: 0px 7px 7px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 7px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 7px 3px rgba(0,0,0,0.3);
}
@media all and (min-width: 768px){
    .fixed .header-menu {
        display: none !important;
    }
    .fixed .header-mobile-left{
        display: flex !important; 
    }
    .fixed .sticky-none{
        display: none !important; 
    }
    .fixed .header-top{
        display: none !important
    }
}

/* Adaptive */
.header-mobile-menu{
    display: none;
}
.header-mobile-menu{
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #ececec;
    padding: 20px 0;
    -webkit-box-shadow: 0px 7px 7px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 7px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 7px 3px rgba(0,0,0,0.3);
}
.menu-adpative{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.menu-adpative-item-link{
    color: #000;
    padding: 8px 0;
}
@media all and (max-width: 991.8px){
    .location-form{
        flex-wrap: wrap;
    }
    .location-form-item{
        width: 50%;
        margin-bottom: 20px;
    }
    .location-form-item-bottom{
        justify-content: center;
        margin-left: 25%;
    }
    .card{
        margin-bottom: 30px;
    }
    .category-item{
        margin-bottom: 30px;
    }
    .offer-slider-item{
        flex-wrap: wrap;
    }
    .offer-slider-item-left{
        width: 100%;
    }
    .offer-slider-item-right{
        width: 100%;
        padding-left: 0;
    }
    .button-offer{
        display: block;
        max-width: 130px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .mt-30{
        margin-top: 30px;
    }
}
@media all and (max-width: 767.8px){
    .header-bottom-right{
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .fixed .header-bottom-right{
        display: none !important;
    }
}
@media all and (max-width: 575px){
    .statistic-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .location-form-item{
        width: 100%;
    }
    .location-form-item-bottom{
        margin-left: 0;
        margin-top: 25px;
    }
}
/* Adaptive end */



/* About company */

.company-background{
    height: 425px;
    background: url(img/company-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}
.company-category-icon{
    width: 68px;
    height: 68px;
    border-radius: 5px;
    background-color: #c3aa2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-category-icon svg{
    width: 40px;
    height: 40px;
    fill: #fff;
}

.company-page-info{
    padding-top: 30px;
    padding-bottom: 80px;
    background: #5f5f5f;
}
.company-page-info-left{
    color: #fff;
}
.company-page-info-left-title{
    font-size: 20px;
}
.company-page-awards{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.company-page-awards-item{
    max-width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company-page-awards-item-icon{
    width: 82px;
    height: 82px;
    border-radius: 5px;
    border: 1px solid #437e86;
    background-color: #437e86;
    padding: 11px 13px;
}
.company-page-awards-item-icon svg{
    fill: #fff;
    stroke: #fff;
}
.company-page-awards-item-title{
    color: #fdfdfd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 9px;
}
.company-page-awards-item-text{
    color: #cccccc;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}


/* Tabs */

.company-page-tabs{
    margin-top: -49px;
}
.company-page-tabs-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #cccccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 10px;
    margin: 0;
}
.company-page-tabs-list-item{
    color: #5f5f5f;
    font-family: Lato;
    font-size: 18px;
    padding: 0 30px;
    font-weight: 400;
    line-height: 50px;
    position: relative;
}
.company-page-tabs-list-item-link{
    color: #5f5f5f;
}
.company-page-tabs-list-item:after{
    content: "";
    width: 1px;
    height: 20px;
    background-color: #b0b0b0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 0px;
}
.company-page-tabs-list-item:last-child:after{
    display: none;
}
.tab-active{
    background: #ececec;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tab-active:after{
    display: none;
}
.company-page-content{
    padding-top: 30px;
    padding-bottom: 45px;
}
/* wall */

.wall-item-topline{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.wall-item-topline-position{
    display: flex;
    color: #707070;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.04px;
}
.wall-item-topline-position svg{
    width: 25px;
    height: 25px;
    fill: #cdcdcd;
}
.wall-item{
    background: #fff;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.wall-item:last-child{
    margin-bottom: 0;
}
.wall-item-topline .card-content-inf-company{
    border:none;
    padding-bottom: 0;
}
.wall-item-img img{
    width: 100%;
}
.wall-item-content{
    padding: 15px 30px;
    padding-bottom: 0;
}
.wall-item-icon{
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 12px;
}
.wall-item-icon a{
    color: #707070;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.wall-item-icon a:first-child{
    margin-left: 0;
}
.wall-item-icon svg{
    width: 18px;
    height: 18px;
    fill: #7b7b7b;
    stroke: #7b7b7b;
    margin-right: 5px;
}
.wall-item-content-text{
    padding-top: 25px;
}
.wall-item-content-text P{
    margin-bottom: 0;
    color: #707070;
    font-size: 18px;
}
.load-more{
    color: #cccccc;
    font-family: Lato;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}
/* company right */

.company-page-content-right{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
}
.company-page-content-right-about{
    margin-top: -11px;
    color: #5f5f5f;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.company-page-content-right-about p{
    margin-bottom: 15px;
}
.show-more-text{
    color: #437e86;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.company-page-content-right-contact-info{
    padding-top: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.company-page-content-right-contact-info-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.company-page-content-right-contact-info-list-item{
    margin-bottom: 10px;
}
.company-page-content-right-contact-info-list-item:last-child{
    margin-bottom: 0;
}
.company-page-content-right-contact-info-list-item-link{
    display: flex;
    align-items: center;
    color: #5f5f5f;
    font-family: Lato;
    font-size: 18px;
}
.company-page-content-right-contact-info-list-item-link svg{
    width: 18px;
    height: 18px;
    margin-right: 13px;
    fill: #cdcdcd;
}
.company-page-content-right-schedule{
    padding-top: 25px;
    padding-bottom: 35px;
    border-bottom: 1px solid #d2d2d2;
}
.company-page-content-right-schedule-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.company-page-content-right-schedule-list-item{
    padding: 14px 20px;
    background-color: #f4f4f4;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.company-page-content-right-schedule-list-item:nth-child(even){
    background-color: #f0e8ca;
}
.company-page-content-right-schedule-list-item-day{
    font-family: Tahoma;
    color: #5f5f5f;
}
.company-page-content-right-schedule-list-item-hours{
    color: #437e86;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.company-page-content-right-map{
    padding-top: 20px;
    padding-bottom: 35px;
    border-bottom: 1px solid #d2d2d2;
}
.company-page-content-right-map iframe{
    width: 100%;
    height: 260px;
}
.company-page-content-right-conect{
    padding-top: 25px;
}
.company-page-content-right-conect .footer-social-item-link{
    color: #5f5f5f;
}
.company-page-content-right-conect .footer-social-item-link svg{
    fill: #cdcdcd;
    stroke: #cdcdcd;
}


@media all and (max-width: 991.8px){
    .company-page-info-left{
        margin-bottom: 30px;
    }
    .company-page-tabs-list{
        padding: 0 10px;
    }
    .company-page-tabs-list-item:after{
        right: -10px;
    }
}
@media all and (max-width: 767.8px){
    .company-page-tabs-list{
        flex-direction: column;
        align-items: center;
    }
    .company-page-tabs-list-item:after{
        width: 20px;
        height: 1px;
        background-color: #b0b0b0;
        position: absolute;
        top: auto;
        left: 50%;
        margin-left: -10px;
        bottom: -3px;
        margin-top: 0;
    }
}
@media all and (max-width: 576px){
    .company-background{
        height: 240px;
    }
    .company-page-awards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .company-page-awards-item{
        width: 100%;
        max-width: 100%;
    }
    .company-page-content-right{
        padding: 20px;
    }
    .company-page-content-right-schedule-list-item-day{
        font-size: 14px;
    }
    .company-page-content-right-schedule-list-item-hours{
        font-size: 14px;
    }
    .company-page-tabs-list{
        padding: 0;
    }
    .company-page-tabs-list-item{
        width: 100%;
        text-align: center;
    }
    .tab-active{
        background: #fff;
    }
}

.company-top-line{
    background: #7b7b7b;
    min-height: 100px;
    display: flex;
    align-items: center;
}
.company-top-line-left{
    display: flex;
    align-items: center;
}
.company-avatar{
    width: 55px;
    height: 55px;
    margin-right: 14px;
}
.company-top-line-percent{
    color: #caad23;
    font-size: 60px;
    line-height: 1;
    width: 100%;
    text-align: right;
    display: inline-block;
}
.company-top-line-right p{
    color: #caad23;
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
}
.company-avatar img{
    width: 100%;
    height: 100%;
}
.company-top-line-right-naming-title{
    color: #fefefe;
    font-size: 28px;
    margin-bottom: 0;
}
.company-top-line-right-naming-motto{
    color: #cccccc;
    font-size: 22px;
    margin-bottom: 0;
}
/* Photo */

.tabs-content-photo-content-item{
    display: flex;
    margin-bottom: 15px;
}
.tabs-content-photo-content-item a{
    display: inline-block;
}
.tabs-content-photo-content-item img{
    width: 100%;
    max-width: 100%;
}
.tabs-content-photo-content-item--couple{
    width: 33%;
    margin-right: 30px;
}
.tabs-content-photo-content-item--couple img{
    margin-bottom: 15px;
    width: 100%;
    height: calc(50% - 7.5px);
}
.tabs-content-photo-content-item--big-left .tabs-content-photo-content-item--couple{
    margin-right: 0;
    margin-left: 30px;
}


/* About */

.tabs-content-about{
    background: #fff;
    padding: 35px 40px;
    border: none;
}
.tabs-content-about .company-page-content-right-about{
    border: none;
}

/* Offers */
.card-offer{
    padding-top: 25px;
}
.tabs-content-offers .company-contact{
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

/* Message */

.tabs-content-message{
    background: #fff;
    padding: 35px 40px;
}
.company-message-input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #cccccc;
    font-size: 14px;
    color: #000;
    padding: 15px 20px;
    margin-bottom: 30px;
    outline: none;
}
.company-message-input::placeholder{
    color: #cccccc;
}
.company-message-input-message{
    border-radius: 10px;
    height: 200px;
}
.company-message label{
    color: #5f5f5f;
    font-size: 16px;
}
.company-message-input-submit{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #437e86;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.56px;
    padding: 17px 0;
}

/* Services */

.tabs-content-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-card{
    width: calc(50% - 15px);
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
}
.service-card-topline{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.service-card-topline .title{
    margin-bottom: 0;
    font-size: 18px;
}
.service-card-content{
    padding: 40px;
    padding-top: 10px;
}
.service-card-cost{
    text-align: right;
    color: #437e86;
    font-size: 22px;
}
.service-card-p{
    display: flex;
    justify-content: space-between;
}
.service-card-p--left{
    color: #5f5f5f;
    font-size: 16px;
    line-height: 28px;
}
.service-card-p--right{
    color: #999999;
    text-align: right;
    font-size: 16px;
    line-height: 28px;
}
.add-cart-wrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.add-cart{
    background-color: #437e86;
    border-radius: 50px;
    color: #fefefe;
    font-size: 16px;
    padding: 15px 45px;
}
.tabs-content-services--two-columns .service-card:nth-child(2n+1){
    margin-right: 30px;
}

/* Rating */

.rate-form{
    padding: 25px 40px;
    background: #fff;
}
.rate-form-title{
    color: #5f5f5f;
}
.rate-form-title svg{
    width: 18px;
    height: 18px;
    fill: #5f5f5f;
    margin-right: 8px;
}
.rate-form-textarea{
    margin-top: 15px;
    border: none;
    padding: 20px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 100px;
    color: #000;
    outline: none;
}
.rate-form-textarea::placeholder{
    color: #cccccc;
}
.rate-star{
    display: flex;
    flex-direction: row-reverse;
}
.rate-star svg{
    width: 20px;
    height: 20px;
    fill: #c5c5c5;
}
.rate-star input{
    display: none;
}
.rate-star input:checked ~ label svg {
    fill: gold;
    stroke: gold;
}
.rate-star label:hover, .rate-star label:hover ~ label svg {
    fill: gold;
    width: 20px;
    height: 20px;
}
.rate-form-bootom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
}
.rate-form-submit{
    background-color: #437e86;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2.24px;
    border-radius: 20px;
    padding: 8px 45px;
    border: none;
}

.rewius{
    background: #fff;
    border-radius: 10px;
    padding: 0 40px;
    margin-top: 30px;
}
.rewius-topline{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 11px;
    align-items: center;
}
.post-user-info{
    display: flex;
    color: #5f5f5f;
    font-size: 14px;
}
.user-info-name{
    font-size: 14px;
    line-height: 25px;
}
.user-info-avatar{
    width: 25px;
    height: 25px;
    border: 1px solid #5f5f5f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 8px;
}
.user-info-avatar svg{
    width: 14px;
    height: 14px;
}
.user-rate{
    display: flex;
}
.user-rate svg{
    width: 20px;
    height: 20px;
    fill: #d5af00;
}
.rewius-text{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 14px 0;
}
.rewius-date{
    display: flex;
    justify-content: flex-end;
    color: #cccccc;
    font-size: 14px;
    padding: 20px 0;
}


@media all and (max-width: 1199.8px){
    .service-card{
        width: 100%;
    }
    .company-page-tabs-list-item{
        padding: 0 10px;
    }
    .tabs-content-services--two-columns .service-card:nth-child(2n+1){
        margin-right: 0; 
    }
}
@media all and (max-width: 991.8px){
    .company-top-line-right-naming-title{
        font-size: 24px;
    } 
    .company-top-line-right-naming-motto{
        font-size: 18px;
    }
    .company-page-tabs-list-item{
        padding: 0;
    }
    
}
@media all and (max-width: 767.8px){
    .company-top-line-left{
        padding-bottom: 20px;
    }
    .company-page-tabs-list-item{
        width: 100%;
        text-align: center;
    }
    .company-top-line-right{
        padding-bottom: 20px;
    }
    .tabs-content-about, .tabs-content-message, .tabs-content-rating{
        margin-bottom: 30px;
    }
}
@media all and (max-width: 567px){
    .tabs-content-about{
        padding: 35px 20px;
    }
    .rate-form-bootom{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rate-star{
        width: 100%;
        justify-content: center;
    }
    .rate-form-submit{
        margin-top: 10px;
    }
    .rewius{
        padding: 0 20px;
    }
    .tabs-content-photo-content-item--couple{
        width: 100%;
    }
    .tabs-content-photo-content-item{
        flex-wrap: wrap;
    }
    .tabs-content-photo-content-item--couple{
        margin-right: 0;
    }
    .tabs-content-photo-content-item a{
        width: 100%;
    }
    .tabs-content-photo-content-item--big-left .tabs-content-photo-content-item--couple{
        margin-left: 0;
    }
}


/* Footer */

.footer{
    background-color: #707070;
    padding-top: 35px;
}
.footer-contact{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 25px;
}
.footer-contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #cccccc;
}
.footer-contact-item svg{
    width: 18px;
    fill: #cccccc;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
}
.footer .title-footer{
    color: #cccccc;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.footer-categories{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-categories-item-link{
    color: #cccccc;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
}
.footer-social{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-social-item-link{
    color: #cccccc;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
    display: flex;
    align-items: center;
}
.footer-social-item-link svg{
    fill: #cccccc;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.copyright{
    padding: 23px 0;
    border-top: 1px solid #a0a0a0;
}
.copyright p{
    margin-bottom: 0;
    color: #cccccc;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
}
.pb50{
    padding-bottom: 50px;
}

/* Footer end */