
body {
    overflow-x: hidden;
	margin-top: 0px;
}

a {
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

    a:hover, a:focus {
        outline: none;
        text-decoration: none;
    }

	
.headerbar{
    width: 100%;
    height: 60px;
    background: #0099CB;
    line-height: initial;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: .25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .01), 0 2px 10px 0 rgba(0, 0, 0, .13)

}
	
	
.m-t-25 {
    margin-top: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-8 {
    margin-bottom: 8px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-steps {
    margin-left: 5px !important;
    float:left;
    font-size: 90px;
    text-align: center;
	font-weight:bold;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.no-border-top {
    border-top: none !important;
}

@media only screen and (max-width: 767px) {
    .p-l-15-mobile {
        padding-left: 15px !important;
    }
}


.navbar {
    margin-bottom: 0;
	
}

.navbar-default {
    background-image: none;
    border-radius: 0;
    border: none;
    background: #FFFFFF;
}

.navbar-brand {
    padding: 2px 10px;
}

    .navbar-brand img {
        width: 150%;
        max-width: 150px;
    }

.navbar-nav {
    float: left;
}

    .navbar-nav > li {
        text-align: center;
    }

.navbar-default .navbar-nav > li > a {
    font-family: Arial;
    text-shadow: none;
    color: #333333;
    font-size: 13px;
	font-weight: bold;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        text-shadow: 0px 2px 2px #777;
        color: #fff;
    }

@media only screen and (max-width: 767px) {
    .navbar-nav {
        display: block;
        width: auto;
        float: none;
    }

        .navbar-nav > li {
            display: block;
        }

    .navbar-default .navbar-toggle {
        border-color: #000;
        background: transparent;
        color: #000;
        float: right;
    }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background: transparent;
            color: #fff;
            border-color: #fff;
        }

    .navbar-header {
        text-align: center;
    }

    .navbar-brand {
        padding: 5px 10px;
        margin: 0 auto;
        display: block;
		float: left;
        width: 120px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 15px 8px;
    }
}

.content-box {
    background: #fff;
}


.content .img-responsive {
    margin: 0 auto 5px auto;
}



    .content p.small-text {
        font-size: 15px;
        padding: 15px 5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        line-height: 23px;
    }

    .content p.pink-text {
        color: #0198bd;
    }

    .content p.update {
        border: 1px dotted #000;
        background: #EFFFF7;
        padding: 4px 9px;
    }

        .content p.update .red-text {
            color: #F00;
        }

.content h5 {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    margin: 8px 0 20px 0;
    font-size: 21px;
    line-height: 28px;
}

    .content h5.pink-border-bottom {
        color: #666;
        border-bottom: 2px solid #0198bd;
        margin-bottom: 15px;
    }

a{
    text-decoration: none;
}

.content h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #222;
    margin: 26px 0;
    font-size: 26px;
}

.content .top-bottom-border {
    width: 100%;
    height: 13px;
    background: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 30px 0;
}

.grey-box {
    padding-top: 15px;
    background: #ccc;
    margin: 0 0 20px 0;
}

.content .grey-box h4 {
    margin-top: 5px;
}

.grey-box .box-inner {
    margin-bottom: 20px;
}

.content .revival-box {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.content .revival-box2 {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    background: #f5f9fa;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
}



    .content .revival-box .button {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

@media only screen and (max-width: 767px) {
    .content .grey-box .img-responsive {
        margin-bottom: 15px;
    }

    .content .revival-text {
        text-align: center;
    }

    .content .revival-box .rev {
        margin-bottom: 15px;
    }

    .content .revival-box .button {
        margin: 0 auto 20px auto;
    }

}

.comments {
    background: #fff;
    padding-bottom: 30px;
}

.recent {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}

    .recent p, .recent a {
        font-family: Tahoma;
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        color: #3B5998;
    }

    .recent p {
        font-weight: bold;
    }

.media {
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid #E2E2E2;
}

    .media.border-bottom {
        border-bottom: 1px solid #E2E2E2;
    }

.media-left img {
    margin-top: 6px;
}

.media-body h4 a {
    font-family: Tahoma;
    font-size: 13px;
    color: #3B5998;
    margin: 0 0 5px 0;
    line-height: 14px;
    font-weight: bold;
}

    .media-body h4 a:hover, .media-body h4 a:focus {
        color: #3B5998;
    }

.media-body p {
    font-family: Tahoma;
    font-size: 12px;
    color: #1A1A1A;
    line-height: 15px;
    margin: 0 0 5px 0;
}

    .media-body p.bottom {
        color: #3B5998;
    }

        .media-body p.bottom .like {
            margin-left: 8px;
        }

        .media-body p.bottom .time {
            color: #808080;
            border-bottom: 1px dotted #808080;
        }

.comments p.small {
    font-family: Tahoma;
    font-size: 11px;
    color: #3B5998;
    margin: 10px 0;
}

.footer {
    width: 100%;
    height: 30px;
    background: #000;
}

.timer {
    position: fixed;
    width: 100%;
    background: #333333;
    bottom: 0;
    padding: 8px 0;
}

    .timer p {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        color: #fff;
    }

        .timer p #countdown {
            font-weight: bold;
        }

    .timer .btn {
        font-family: 'Open Sans', sans-serif;
        margin-top: 3px;
    }


img.checkmark{ 
  border:0;
  display:block;
  float:left;
  height:29px;
  margin:10px 0 0 12px;
  width:30px;}

div.steps{ 
  float:left;
  
  font-size:22px;
  font-weight:bold;
  padding:22px 0 0 0;
  }
a.offer:link,a.offer:visited{
  color:#0000ee;
  text-decoration:underline;}
  
a.offer:active,a.offer:hover{text-decoration:none;}

div.warning{
  color:#434343;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  padding:22px 12px 0 12px;
  text-align:center;}


.btn-container{
    position: absolute;
    left: 50%;
    bottom: -65px;
    margin: 0 0 100px -150px;
    margin-left: -86px;
}
.recent p, .recent a{
    font-size: 12px !important;
}
.btn2{
        width: 100%;
		max-width:300px;
    height: 50px;
    line-height: 50px;
    background-color: #57af08;
    border-radius: 8px;
    color: #fff !important;
    /* font-family: 'Indie Flower', cursive; */
    font-size: 19px;
    font-weight: bold;
    text-decoration: solid;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    padding-top: 0 !important;
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

/* BAR */

.fb-bar {
    font-size: 13px;
    position: fixed;
    padding: 6px 8px;
    line-height: 1.6;
    z-index: 5000;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: #4267b2;
    text-align: center;
}

.fb-bar p {
    margin: 0;
}

.fb-bar a {
    text-decoration: underline;
    font-weight: 700;
    color: #fff;
}

#counter {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #4267b2;
    padding: 4px 6px;
    line-height: 1.3;
    font-weight: 700;
    margin-left: 2px;
    display: inline-block;
    vertical-align: middle;
}