.portal-g1 {color:#1b3e7a; background-color:#FFF}
.dark .portal-g1 {color:#FFF; background-color:#000}
.portal-g1 .emblem-1 span {background-image:url('../images/idnes.svg')}
.dark .portal-g1 .emblem-1 span {background-image:url('/u/loga-n4/idnes-white.svg')}
.portal-g1 a.icon-menu {background-image:url('../images/portal-menu-t.svg')}
.dark .portal-g1 a.icon-menu {background-image:url('/u/idn4/portal-menu.svg')}
.portal-g2 {border:1px solid #cfd8dc; border-width:1px 0; background:#ECEFF1}
.dark .portal-g2 {border-color:#546e7a; background-color:#263238}
.portal-g2a:before {background-color:#cfd8dc}
.dark .portal-g2a:before {background-color:#37474f}
.portalmenu-2 li.act:after {background-color:#1b3e7a}
.dark .portalmenu-2 li.act:after {background-color:#92c1e4}
.portal-g2b .icon-prev {background:linear-gradient(to right, rgba(236,239,241,1) 50%, rgba(236,239,241,0))}
.dark .portal-g2b .icon-prev {background:linear-gradient(to right, rgba(38,50,56,1) 50%, rgba(38,50,56,0))}
.portal-g2b .icon-next {background:linear-gradient(to left, rgba(236,239,241,1) 50%, rgba(236,239,241,0))}
.dark .portal-g2b .icon-next {background:linear-gradient(to left, rgba(38,50,56,1) 50%, rgba(38,50,56,0))}