/* --------------- Main --------------- */
BODY
{
    SCROLLBAR-FACE-COLOR: #2D7CF2;
    BACKGROUND-ATTACHMENT: fixed;
    SCROLLBAR-HIGHLIGHT-COLOR: #774301;
    SCROLLBAR-SHADOW-COLOR: #85D6F4;
    SCROLLBAR-3DLIGHT-COLOR: #2F8CF4;
    SCROLLBAR-ARROW-COLOR: #774301;
    SCROLLBAR-TRACK-COLOR: #3DBAFD;
    SCROLLBAR-DARKSHADOW-COLOR: #2F8CF4;
    SCROLLBAR-BASE-COLOR: #E0C59A
}

.norepeat
{
    background-repeat: no-repeat
}

.textdiv
{
    BORDER-RIGHT: 0pt solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: 0pt solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    OVERFLOW: auto;
    BORDER-LEFT: 0pt solid;
    WIDTH: 200px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: 0pt solid;
    HEIGHT: 200px
}

TD
{
    FONT-SIZE: 10px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana,Helvetica,Arial
}

A
{
    COLOR: #492B00;
    TEXT-DECORATION:none;
	font-weight:bold;
}

.imagehover A:hover
{
    BACKGROUND-IMAGE: url(http://www.seven.net/images/general/background/eng/mouseover.jpg);
    WIDTH: 156px;
    COLOR: #A25B00;
    PADDING-TOP: 4px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 20px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    BACKGROUND-: fixed
}

A:hover
{
    COLOR: #A25B00;
    TEXT-DECORATION: none;
}

ul 
{
list-style-image: url(../../../../resources/images/zinzino/general/element/common/arrowrightbrown.gif)
} 
.linkcolor
{
    COLOR: #764300;
    TEXT-DECORATION: none
}
.active
{
    COLOR: #492B00;
    TEXT-DECORATION: none
}

.orangetext
{
    COLOR: #ff6500;
    TEXT-DECORATION: none
}

.redtext
{
    COLOR: #EE3224;
    TEXT-DECORATION: none
}

.blacktext
{
    COLOR: #000000;
    TEXT-DECORATION: none
}

.yellowtext
{
    COLOR: #fec904;
    TEXT-DECORATION: none
}

.greentext
{
    COLOR: #009715;
    TEXT-DECORATION: none
}

.bluetext
{
    COLOR: #2626ff;
    TEXT-DECORATION: none
}

.lightbluetext
{
    COLOR: #639CCE;
    TEXT-DECORATION: none
}

.whitetext
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}

.offtext
{
    COLOR: #AC864F;
    TEXT-DECORATION: none
}

.graytext
{
    COLOR: #666666;
    TEXT-DECORATION: none
}

.error
{
    COLOR: #EE3224;
    TEXT-DECORATION: none
}

.activebold
{
    FONT-WEIGHT: bolder;
    COLOR: #492B00;
    TEXT-DECORATION: none
}

.boldcolor
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana, helvetica, Arial
}

.txtform
{
    BORDER-RIGHT: #B4813C 1px solid;
    BORDER-TOP: #B4813C 1px solid;
    FONT-SIZE: 10px;
    BORDER-LEFT: #B4813C 1px solid;
    COLOR: #492B00;
    BORDER-BOTTOM: #B4813C 1px solid;
    FONT-FAMILY: Verdana,Helvetica,Arial;
    BACKGROUND-COLOR: #B4813C
}

.txtformerror
{
    BORDER-RIGHT: #EE3224 1px solid;
    BORDER-TOP: #EE3224 1px solid;
    FONT-SIZE: 10px;
    BORDER-LEFT: #EE3224 1px solid;
    COLOR: #492B00;
    BORDER-BOTTOM: #EE3224 1px solid;
    FONT-FAMILY: Verdana,Helvetica,Arial;
    BACKGROUND-COLOR: #B4813C
}

.chkboxtrans
{
    BACKGROUND-COLOR: transparent
}

.buttonform
{
    FONT-SIZE: 10px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana,Helvetica,Arial
}

SELECT
{
    FONT-SIZE: 10px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana, Helvetica, Arial;
    BACKGROUND-COLOR: #B4813C
}

INPUT
{
    FONT-SIZE: 10px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana, Helvetica, Arial
}

TEXTAREA
{
    FONT-SIZE: 10px;
	PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    OVERFLOW: auto;
    COLOR: #492B00;
    FONT-FAMILY: Verdana, Helvetiva, Arial;
    BACKGROUND-COLOR: #B4813C
}

.headline
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana, helvetica, Arial
}

.smaltextpx8
{
    FONT-SIZE: 8px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana,Helvetica,Arial
}

.smaltextpx10
{
    FONT-SIZE: 10px;
	color:#29E1EB;
    FONT-FAMILY: Verdana,Helvetica,Arial
}

.smaltextpx12
{
    FONT-SIZE: 12px;
    COLOR: #492B00;
    FONT-FAMILY: Verdana,Helvetica,Arial
}

.text12
{
    FONT-SIZE: 12px;
    COLOR: #000;
    FONT-FAMILY: Verdana,Helvetica,Arial
}

.text16
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 16px;
    COLOR:#000033;
    FONT-FAMILY: Verdana,Helvetica,Arial
}
.text218
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 18px;
    COLOR: #774301;
    FONT-FAMILY: Verdana,Helvetica,Arial
}
.text20
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 20px;
    COLOR: #774301;
    FONT-FAMILY: Verdana,Helvetica,Arial
}
.rubrik 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #492B00;
	font-weight: bold
}
.justify 
{ 
	FONT-SIZE: 10px; 
	COLOR: #492B00; 
	FONT-FAMILY: Verdana, Arial, Helvetica; 
	TEXT-ALIGN: justify 
}		

.bgtop
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-REPEAT: no-repeat
}

.Bgimage
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-REPEAT: no-repeat
}

.button
{
	FONT-SIZE: 10px;
	Color: #492B00;
	text-align: center;
	text-decoration: none;
	border-top: #D3B17F 1px solid; 
	border-left: #D3B17F 1px solid; 
	border-right: #764300 1px solid; 
	border-bottom: #764300 1px solid; 
	background-color: #D3B17F;
	height: 16px
}

.ErrorBlock
{
	border-right: #EE3224 1px solid;
	padding-right: 10px;
	border-top: #EE3224 1px solid;
	padding-left: 10px;
	padding-bottom: 10px;
	border-left: #EE3224 1px solid;
	color: #EE3224;
	padding-top: 10px;
	border-bottom: #EE3224 1px solid;
	background-color: #CDA771;
	text-align: left;
	text-decoration: none
}
.ErrorBlock1
{
	border-right: #EE3224 1px solid;
	border-top: #EE3224 1px solid;
	border-left: #EE3224 1px solid;
	color: #EE3224;
	border-bottom: #EE3224 1px solid;
	background-color: #CDA771;
	text-align: left;
	padding-left: 2px;
	text-decoration: none
}

.flyOver 
{
	cursor : hand
}

.flyOut 
{
	cursor : auto
}

.brodtext 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #492B00;
	TEXT-ALIGN: justify 
}

.brodtextwhite 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF
}

.flyOverHelp 
{
	cursor : help
}

.flyOutHelp
{
	cursor : auto
}


/* --------------- End of Main --------------- */



/* --------------- WWW --------------- */
.button1
{
	FONT-SIZE: 10px;
	Color: #492B00;
	text-align: center;
	font-weight: bold; 
	text-decoration: none;
	border-top: #D3B17F 1px solid; 
	border-left: #D3B17F 1px solid; 
	border-right: #764300 1px solid; 
	border-bottom: #764300 1px solid; 
	background-color: #D3B17F;
	height: 16px
}

.menu 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: none;
	color: #754200;
	list-style-type: disc;
	list-style-position: inside;
	word-spacing: 50px

}

.white 
{

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none
}

.popupBlue 
{

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	line-height: 14px
}

.brodtextbold 
{

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
	line-height: 14px
}
.brodtextgrey 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
	TEXT-ALIGN: justify 
}

/* --------------- End of WWW --------------- */



/* -------------- Webshop --------------- */
.stdgui_table_header 
{
	background-color: #639CCE
}

.bg_shoplist_summary 
{
	background-color: #DEDEDE
}

.stdgui_bg_medium 
{
	background-color: #DEDEDE;
}

.stdgui_bg_bright 
{
	background-color: #EFEFEF;
}

.bgBrightest 
{
	background-color: #FFFFFF
}

.bgBright {
	background-color: #E3EBF3
}
.textfield 
{
    BORDER-RIGHT: #639CCE 1px solid;
    BORDER-TOP: #639CCE 1px solid;
    FONT-SIZE: 10px;
    BORDER-LEFT: #639CCE 1px solid;
    COLOR: #492B00;
    BORDER-BOTTOM: #639CCE 1px solid;
    FONT-FAMILY: Verdana,Helvetica,Arial;
    BACKGROUND-COLOR: #FFFFFF
}

.stdgui_textbox_embedded 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
	border: 1px solid #639CCE;
	height: 18px;
	padding: 2px;
	background-color: #FFFFFF
}

.dropdown 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
	border: 1px solid #639CCE;
	height: 18px;
	padding: 2px
}

.stdgui_button_text 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none
}

.stdgui_table_list_header 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
}

.stdgui_table_list 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
	line-height: 16px;
}

.basket {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
	line-height: 16px;
}

.basket_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
	line-height: 16px;
}

.shoplist_summary {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
	line-height: 16px;
}

.shoplist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
	line-height: 16px;
}

.header_dark {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
}

.productHeader, .productHeader A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
}

.productDescription {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
}

.productPrice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
}

.checkoutText {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
}

.checkoutHeader {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #492B00;
	text-decoration: none;
}


.bg_shoplist_header {
	background-color: #639CCE
}

.bgMedium {
	background-color: #EFEFEF
}

.textfield_shoppinglist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #492B00;
	text-decoration: none;
	border: 1px solid #639CCE;
	height: 18px;
	padding: 2px;
	background-color: #FFFFFF;

}
.buttontext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.shoplist_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
}
/* -------------- End of Webshop --------------- */

